doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Быстрый запуск Webpack'
  body
    h1 Стартовый шаблон Webpack

    .logo-png
      img.logo1(src=require('./images/sausage.png') alt='Загрузка PNG Sausage')

    include:markdown-it ../content/article.md